main {
    min-height: 100%;
    padding-bottom: 80px;
    background-image: url("../../../../assets/imgs/img1.jpg");
    background-repeat: no-repeat; 
    background-position: center;

}

@media (min-width: 768px) {
    main {
        width: calc(100% - 230px);
        position: absolute;
        top: 0;
        right: 0;
    }
}