.section {
    padding: 40px;
   
}

.section .title-group {
    padding-left: 20px;
}

.title-group a, .title-group i {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #000;
    text-decoration: none;

}

.title-group i {
    padding-right: 7px;
    
    
}
.temp{
    background-color: white;
    opacity: 0.5;
    height: 8px !important;
}

@media (min-width: 768px) {
    .title-group a, .title-group i {
        font-size: 1.75rem;
    }
}
