<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
            <span class="text-denger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')   " > *Email Id is required</span>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
            <span class="text-denger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password') " > *Password is required</span>
          </div>

          <button
            type="submit"
            style="margin-left: 11.5rem"
            class="btn btn-primary mb-2 text-center"
            [disabled]="!loginForm.valid"
          >
            Login</button
          ><br />
          <a
            style="color: white; margin-top: 10px; margin-left: 8.8rem"
            routerLink="/signup"
            >New User ? Click to SignUp !!</a
          >
           <div class="mb-3">
              <a routerLink="/forgot" style="color:white; margin-top: 10px; margin-left: 10.0rem">forgot password ?</a>
            </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
