<mat-card class="content mat-elevation-z4">
  <mat-card-title class="title">New Post</mat-card-title>

  <form>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        placeholder="Title of the post"
        [(ngModel)]="product.name"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>description </mat-label>
      <input
        type="text"
        matInput
        placeholder="description "
        [(ngModel)]="product.desc"
        name="desc"
      />
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="createProduct()" color="primary">
    Save
  </button>
  <button mat-raised-button (click)="cancel()">Cancel</button>

</mat-card>
