
.footer {
    position: fixed;
    bottom: 0vh;
    padding: 20px;
    height: 50px;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0.5;
}

.footer span {
    font-size: 1.1rem;
}

.footer span > strong {
    font-size: 1.2rem;
    color: #FF0000;
}

@media (min-width: 768px) {
    .footer {
        right: 0;
        width: calc(100% - 230px);
    }
}